replicaCount: 2

image:
  repository: rimskiy/docker-app:6.0
  pullPolicy: Always

service:
  type: NodePort
  port: '9000'

postgresql:
  enabled: true
  postgresqlUsername: postgres
  postgresqlPassword: postgres
  postgresqlDatabase: docker-app
  service:
    port: '5432'
    type: NodePort
  persistence:
    size: 1Gi

metrics:
  serviceMonitor:
    enabled: true

ingress:
  enabled: true
  hosts:
    - host: arch.homework
      paths: ["/otusapp/rem"]
